<div class="head">
    <div class="row">
        <div class="col-sm-3 col-12 text-center left ">
            <h6>Automobiles</h6>
        </div>
        <div class="col-sm-9 right" style="background:grey;color:blue">
            <div class="row">
                <div class="col-sm-3 col-12 text-center ">
                    <h6>Home</h6>
                </div>
                <div class="col-sm-3 col-12 text-center ">
                        <h6>Contact</h6>
                    </div>
                    <div class="col-sm-3 col-12 text-center ">
                            <h6>About</h6>
                        </div>
                        <div class="col-sm-3 col-12 text-center ">
                                <h6>Info</h6>
                            </div>
            </div>
        </div>
    </div>
</div>

<div class="bottom">
    <div class="row">
        <div class="col-sm-3 col-12 qq text-center">
          <h3  class="q">home</h3>
          <h3 class="q">contact</h3>
          <h3 class="q">about</h3>
          <h3 class="q">info</h3>

        </div>
        <div class="col-sm-9">
            <div class="box1">
                <div class="box2">
                    <div class="box3">
                        a
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>